.h1-tag{
    color:blueviolet;
}
body{
    margin: 0;
}
.nav-bar{
    background-color: #d57aae;
    padding: 16px;
    border-color: #060606;
    border-width: 4px;
    border-style: solid;
    text-align: center;
}
.nav-bar a{
    color: #e7e4e4;
    text-decoration: none;
    margin: 0 10px;
}
.nav-bar a:hover{
    color:rgb(6, 122, 122);
    padding:4px;
    text-decoration:none;
}